# Data Preprocessing Tools

## ライブラリのインポート

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## データセットのインポート

In [5]:
dataset = pd.read_csv(r"C:\Users\bldyr\OneDrive\デスクトップ\自己研鑽用\02_FT勉強会\2023年度\勉強会\1_データ前処理\Data.csv")
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, -1].values

In [14]:
dataset.dropna()

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
5   France  35.0  58000.0       Yes
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [28]:
dataset = dataset["Add_columns"]

ValueError: No axis named 1 for object type Series

In [32]:
dataset = dataset.dropna(axis = 1, how = "all")

In [35]:
dict_ = dict(Age = 1, Salary = dataset["Salary"].mean())
dataset.fillna(dict_)

   Country   Age        Salary Purchased
0   France  44.0  72000.000000        No
1    Spain  27.0  48000.000000       Yes
2  Germany  30.0  54000.000000        No
3    Spain  38.0  61000.000000        No
4  Germany  40.0  63777.777778       Yes
5   France  35.0  58000.000000       Yes
6    Spain   1.0  52000.000000        No
7   France  48.0  79000.000000       Yes
8  Germany  50.0  83000.000000        No
9   France  37.0  67000.000000       Yes

In [27]:
dataset.dropna(how = "any")

Empty DataFrame
Columns: [Country, Age, Salary, Purchased, Add_columns]
Index: []

## 欠損値の処理

In [ ]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer.fit(X[:, 1:3])
X[:, 1:3] = imputer.transform(X[:, 1:3])

In [38]:
data = pd.DataFrame({"k1": ["one", "two"] * 3 + ["two"], "k2": [1, 1, 2, 3, 3, 4, 4]})
data.drop_duplicates()

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4

In [41]:
data["v1"] = range(7)
data

    k1  k2  v1
0  one   1   0
1  two   1   1
2  one   2   2
3  two   3   3
4  one   3   4
5  two   4   5
6  two   4   6

In [43]:
data.drop_duplicates(subset=["k1", "k2"], keep = "last")

    k1  k2  v1
0  one   1   0
1  two   1   1
2  one   2   2
3  two   3   3
4  one   3   4
6  two   4   6

In [44]:
data = pd.DataFrame({"food": ["bacon", "pulled pork", "bacon", "pastrami", "corned beef", "bacon","pastrami", "honey ham", "nova lox"],
                     "ounces": [4, 3, 12, 6, 7.5, 8, 3, 5, 6]}
                     )

In [47]:
meat_to_animal = {
    "bacon": "pig",
    "pulled pork": "pig",
    "pastrami": "cow",
    "corned beef": "cow",
    "honey ham": "pig",
    "nova lox": "salmon"
}
data["animal"] = data["food"].map(meat_to_animal)
data

          food  ounces  animal
0        bacon     4.0     pig
1  pulled pork     3.0     pig
2        bacon    12.0     pig
3     pastrami     6.0     cow
4  corned beef     7.5     cow
5        bacon     8.0     pig
6     pastrami     3.0     cow
7    honey ham     5.0     pig
8     nova lox     6.0  salmon

In [49]:
data = pd.Series([1., -999., 2., -999., -1000., 3.])
data

0       1.0
1    -999.0
2       2.0
3    -999.0
4   -1000.0
5       3.0
dtype: float64

In [53]:
data.replace([-999, -1000], [np.nan, 0])

0    1.0
1    NaN
2    2.0
3    NaN
4    0.0
5    3.0
dtype: float64

In [54]:
data.replace({-999: np.nan, -1000: 0})

0    1.0
1    NaN
2    2.0
3    NaN
4    0.0
5    3.0
dtype: float64

In [55]:
ages = [20, 22, 25, 27, 21, 23, 37, 31, 61, 45, 41, 32]
bins = [18, 25, 35, 60, 100]
age_categories = pd.cut(ages, bins)
age_categories

[(18, 25], (18, 25], (18, 25], (25, 35], (18, 25], ..., (25, 35], (60, 100], (35, 60], (35, 60], (25, 35]]
Length: 12
Categories (4, interval[int64, right]): [(18, 25] < (25, 35] < (35, 60] < (60, 100]]

In [56]:
age_categories.codes

array([0, 0, 0, 1, 0, 0, 2, 1, 3, 2, 2, 1], dtype=int8)

In [57]:
age_categories.categories

IntervalIndex([(18, 25], (25, 35], (35, 60], (60, 100]], dtype='interval[int64, right]')

In [58]:
pd.value_counts(age_categories)

C:\Users\bldyr\AppData\Local\Temp\ipykernel_21848\3010498523.py:1: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  pd.value_counts(age_categories)

(18, 25]     5
(25, 35]     3
(35, 60]     3
(60, 100]    1
Name: count, dtype: int64

In [59]:
data = np.random.uniform(size = 20)
pd.cut(data, 4, precision = 2)

[(0.28, 0.51], (0.51, 0.74], (0.049, 0.28], (0.51, 0.74], (0.28, 0.51], ..., (0.74, 0.97], (0.28, 0.51], (0.049, 0.28], (0.51, 0.74], (0.74, 0.97]]
Length: 20
Categories (4, interval[float64, right]): [(0.049, 0.28] < (0.28, 0.51] < (0.51, 0.74] < (0.74, 0.97]]

In [60]:
data = np.random.standard_normal(1000)
quartiles = pd.qcut(data, 4, precision=2)
quartiles

[(-2.8899999999999997, -0.68], (0.78, 2.77], (-0.68, 0.074], (0.074, 0.78], (-0.68, 0.074], ..., (-2.8899999999999997, -0.68], (-2.8899999999999997, -0.68], (-0.68, 0.074], (-0.68, 0.074], (-2.8899999999999997, -0.68]]
Length: 1000
Categories (4, interval[float64, right]): [(-2.8899999999999997, -0.68] < (-0.68, 0.074] < (0.074, 0.78] < (0.78, 2.77]]

In [61]:
pd.value_counts(quartiles)

C:\Users\bldyr\AppData\Local\Temp\ipykernel_21848\3472704981.py:1: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  pd.value_counts(quartiles)

(-2.8899999999999997, -0.68]    250
(-0.68, 0.074]                  250
(0.074, 0.78]                   250
(0.78, 2.77]                    250
Name: count, dtype: int64

In [62]:
pd.qcut(data, [0, 0.1, 0.5, 0.9, 1.]).value_counts()

(-2.884, -1.235]    100
(-1.235, 0.074]     400
(0.074, 1.419]      400
(1.419, 2.765]      100
Name: count, dtype: int64

In [63]:
data = pd.DataFrame(np.random.standard_normal((1000, 4)))
data.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean      0.013959     0.011168    -0.047576    -0.007724
std       0.982125     0.994003     1.020421     1.013413
min      -3.157201    -3.048680    -3.597782    -3.237926
25%      -0.672349    -0.638698    -0.758134    -0.678610
50%      -0.009461     0.038320    -0.036897    -0.040791
75%       0.700541     0.668278     0.657781     0.694953
max       3.736177     2.855507     3.087588     3.673355

In [64]:
col = data[2]
col[col.abs() > 3]

84    -3.597782
209   -3.102854
562   -3.249428
853    3.087588
966   -3.005327
Name: 2, dtype: float64

In [65]:
data[(data.abs() > 3).any(axis = "columns")]

            0         1         2         3
84   0.917371 -1.031307 -3.597782  0.000356
87  -0.567464  0.574795  1.450173  3.673355
209 -0.166370  0.320861 -3.102854 -1.084262
243 -1.028166 -3.022640 -1.607621  0.307323
387 -0.247864  0.288069  2.416389  3.352794
409 -3.137683 -0.584984 -1.760871  1.277876
457  0.312159 -0.289153 -0.359738  3.289242
559 -0.212269 -0.445099  0.794844 -3.027273
562 -0.996702 -0.233496 -3.249428  0.611946
836 -1.193795  0.891031 -0.637199 -3.237926
841 -3.157201  0.359390 -0.372935 -0.673784
853 -1.244219  1.270160  3.087588 -0.701046
953 -0.416744 -3.048680  0.541636  0.265387
966  1.152165 -0.518269 -3.005327  1.245560
981  3.736177  2.062222 -0.727958  0.169162

In [68]:
data[data.abs() > 3] = np.sign(data) * 3
data[(data.abs() > 3).any(axis = "columns")]

Empty DataFrame
Columns: [0, 1, 2, 3]
Index: []

In [69]:
data.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean      0.013518     0.011240    -0.046708    -0.008774
std       0.978674     0.993786     1.017172     1.008353
min      -3.000000    -3.000000    -3.000000    -3.000000
25%      -0.672349    -0.638698    -0.758134    -0.678610
50%      -0.009461     0.038320    -0.036897    -0.040791
75%       0.700541     0.668278     0.657781     0.694953
max       3.000000     2.855507     3.000000     3.000000

In [70]:
np.sign(data).head()

     0    1    2    3
0  1.0  1.0  1.0 -1.0
1  1.0 -1.0  1.0 -1.0
2 -1.0 -1.0  1.0 -1.0
3 -1.0  1.0  1.0  1.0
4 -1.0 -1.0 -1.0 -1.0

In [71]:
df = pd.DataFrame(np.arange(5 * 7).reshape((5, 7)))
df

    0   1   2   3   4   5   6
0   0   1   2   3   4   5   6
1   7   8   9  10  11  12  13
2  14  15  16  17  18  19  20
3  21  22  23  24  25  26  27
4  28  29  30  31  32  33  34

In [75]:
sampler = np.random.permutation(5)
sampler

array([3, 2, 0, 4, 1])

In [78]:
samplar_col = np.random.permutation(7)
samplar_col

array([0, 6, 4, 1, 3, 5, 2])

In [79]:
df.take(samplar_col, axis = 1)

    0   6   4   1   3   5   2
0   0   6   4   1   3   5   2
1   7  13  11   8  10  12   9
2  14  20  18  15  17  19  16
3  21  27  25  22  24  26  23
4  28  34  32  29  31  33  30

In [76]:
df.take(sampler)

    0   1   2   3   4   5   6
3  21  22  23  24  25  26  27
2  14  15  16  17  18  19  20
0   0   1   2   3   4   5   6
4  28  29  30  31  32  33  34
1   7   8   9  10  11  12  13

In [77]:
df.iloc[sampler]

    0   1   2   3   4   5   6
3  21  22  23  24  25  26  27
2  14  15  16  17  18  19  20
0   0   1   2   3   4   5   6
4  28  29  30  31  32  33  34
1   7   8   9  10  11  12  13

In [80]:
df = pd.DataFrame({"カテゴリ変数": ["b", "b", "a", "c", "a", "b"],
                   "data1": range(6)})
df

  カテゴリ変数  data1
0      b      0
1      b      1
2      a      2
3      c      3
4      a      4
5      b      5

In [82]:
pd.get_dummies(df["カテゴリ変数"])

       a      b      c
0  False   True  False
1  False   True  False
2   True  False  False
3  False  False   True
4   True  False  False
5  False   True  False

In [83]:
dummies = pd.get_dummies(df["カテゴリ変数"], prefix = "カテゴリ変数")
df_with_dummy = df[["data1"]].join(dummies)
df_with_dummy

   data1  カテゴリ変数_a  カテゴリ変数_b  カテゴリ変数_c
0      0     False      True     False
1      1     False      True     False
2      2      True     False     False
3      3     False     False      True
4      4      True     False     False
5      5     False      True     False

In [85]:
movies = pd.read_csv(r"C:\Users\bldyr\OneDrive\デスクトップ\自己研鑽用\02_FT勉強会\2023年度\勉強会\movies_data.csv", engine = "python")
movies

,movie_id,title,genres
0,1,Toy Story (1995),Animation|Children's|Comedy
1,2,Jumanji (1995),Adventure|Children's|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
1927,1996,Poltergeist III (1988),Horror|Thriller
1928,1997,"Exorcist, The (1973)",Horror
1929,1998,Exorcist II,Horror
1930,1999,"Exorcist III, The (1990)",Horror
1931,2000,Lethal Weapon (1987),Action|Comedy|Crime|Drama

In [86]:
dummies = movies["genres"].str.get_dummies("|")
dummies.iloc[:10, :6]

   Action  Adventure  Animation  Children's  Comedy  Crime
0       0          0          1           1       1      0
1       0          1          0           1       0      0
2       0          0          0           0       1      0
3       0          0          0           0       1      0
4       0          0          0           0       1      0
5       1          0          0           0       0      1
6       0          0          0           0       1      0
7       0          1          0           1       0      0
8       1          0          0           0       0      0
9       1          1          0           0       0      0

In [87]:
movies_windic = movies.join(dummies.add_prefix("Genre_"))
movies_windic.iloc[0]

movie_id                                       1
title                           Toy Story (1995)
genres               Animation|Children's|Comedy
Genre_Action                                   0
Genre_Adventure                                0
Genre_Animation                                1
Genre_Children's                               1
Genre_Comedy                                   1
Genre_Crime                                    0
Genre_Documentary                              0
Genre_Drama                                    0
Genre_Fantasy                                  0
Genre_Film-Noir                                0
Genre_Horror                                   0
Genre_Musical                                  0
Genre_Mystery                                  0
Genre_Romance                                  0
Genre_Sci-Fi                                   0
Genre_Thriller                                 0
Genre_War                                      0
Genre_Western                                  0
Name: 0, dtype: object

In [88]:
val = "a,b, guido"
val.split(",")

['a', 'b', ' guido']

In [90]:
pieces = [x.strip() for x in val.split(",")]
pieces

['a', 'b', 'guido']

In [91]:
first, second, third = pieces
first + "::" + second + "::" + third

'a::b::guido'

In [92]:
"::".join(pieces)

'a::b::guido'

In [93]:
"guido" in val

True

In [94]:
val.index(",")

1

In [95]:
val.find(":")

-1

In [96]:
val.index(":")

ValueError: substring not found

In [97]:
val.count(",")

2

In [98]:
val.replace(",", "::")

'a::b:: guido'

In [99]:
import re
text = "foo bar\t baz \tqux"
re.split(r"\s+", text)

['foo', 'bar', 'baz', 'qux']

In [100]:
regex = re.compile(r"\s+")
regex.split(text)

['foo', 'bar', 'baz', 'qux']

In [101]:
regex.findall(text)

[' ', '\t ', ' \t']

In [102]:
text = """Dave dave@google.com
Steve steve@gmail.com
Rob rob@gmail.com
Ryan ryan@yahoo.com"""
pattern = r"[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}"

In [104]:
# re.IGNORECASEフラグにより，正規表現で大文字と小文字を区別しないようにする
regex = re.compile(pattern, flags=re.IGNORECASE)
regex.findall(text)

['dave@google.com', 'steve@gmail.com', 'rob@gmail.com', 'ryan@yahoo.com']

In [107]:
m = regex.search(text)
m

In [108]:
text[m.start():m.end()]

'dave@google.com'

In [109]:
print(regex.sub("REDACTED", text))

Dave REDACTED
Steve REDACTED
Rob REDACTED
Ryan REDACTED

In [111]:
pattern = r"([A-Z0-9._%+-]+)@([A-Z0-9.-]+)\.([A-Z]{2,4})"
regex = re.compile(pattern, flags = re.IGNORECASE)
m = regex.match("wesm@bright.net")
m.groups()

('wesm', 'bright', 'net')

In [112]:
regex.findall(text)

[('dave', 'google', 'com'),
 ('steve', 'gmail', 'com'),
 ('rob', 'gmail', 'com'),
 ('ryan', 'yahoo', 'com')]

In [113]:
print(regex.sub(r"Username: \1, Domain: \2, Suffix: \3", text))

Dave Username: dave, Domain: google, Suffix: com
Steve Username: steve, Domain: gmail, Suffix: com
Rob Username: rob, Domain: gmail, Suffix: com
Ryan Username: ryan, Domain: yahoo, Suffix: com

In [118]:
values = pd.Series(['apple', 'orange', 'apple', 'apple'] * 2)
values.unique()

array(['apple', 'orange'], dtype=object)

In [117]:
pd.value_counts(values)

C:\Users\bldyr\AppData\Local\Temp\ipykernel_21848\3297668723.py:1: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  pd.value_counts(values)

apple     6
orange    2
Name: count, dtype: int64

In [121]:
values = pd.Series([0, 1, 0, 0] * 2)
values

0    0
1    1
2    0
3    0
4    0
5    1
6    0
7    0
dtype: int64

In [122]:
dim = pd.Series(['apple', 'orange'])
dim

0     apple
1    orange
dtype: object

In [123]:
dim.take(values)

0     apple
1    orange
0     apple
0     apple
0     apple
1    orange
0     apple
0     apple
dtype: object

In [124]:
fruits = ['apple', 'orange', 'apple', 'apple'] * 2
N = len(fruits)
rng = np.random.default_rng(seed=12345)
df = pd.DataFrame({'fruit': fruits,
                   'basket_id': np.arange(N),
                   'count': rng.integers(3, 15, size=N),
                   'weight': rng.uniform(0, 4, size=N)},
                   columns = ['basket_id', 'fruit', 'count', 'weight'])
df

   basket_id   fruit  count    weight
0          0   apple     11  1.564438
1          1  orange      5  1.331256
2          2   apple     12  2.393235
3          3   apple      6  0.746937
4          4   apple      5  2.691024
5          5  orange     12  3.767211
6          6   apple     10  0.992983
7          7   apple     11  3.795525

In [125]:
fruit_cat = df['fruit'].astype('category')
fruit_cat

0     apple
1    orange
2     apple
3     apple
4     apple
5    orange
6     apple
7     apple
Name: fruit, dtype: category
Categories (2, object): ['apple', 'orange']

In [126]:
c = fruit_cat.array
type(c)

pandas.core.arrays.categorical.Categorical

In [127]:
c.categories

Index(['apple', 'orange'], dtype='object')

In [128]:
c.codes

array([0, 1, 0, 0, 0, 1, 0, 0], dtype=int8)

In [129]:
dict(enumerate(c.categories))

{0: 'apple', 1: 'orange'}

In [130]:
df['fruit'] = df['fruit'].astype('category')
df['fruit']

0     apple
1    orange
2     apple
3     apple
4     apple
5    orange
6     apple
7     apple
Name: fruit, dtype: category
Categories (2, object): ['apple', 'orange']

In [131]:
my_categories = pd.Categorical(['foo', 'bar', 'baz', 'foo', 'bar'])
my_categories

['foo', 'bar', 'baz', 'foo', 'bar']
Categories (3, object): ['bar', 'baz', 'foo']

In [132]:
categories = ['foo', 'bar', 'baz']
codes = [0, 1, 2, 0, 0, 1]
my_cats_2 = pd.Categorical.from_codes(codes, categories)
my_cats_2

['foo', 'bar', 'baz', 'foo', 'foo', 'bar']
Categories (3, object): ['foo', 'bar', 'baz']

In [133]:
ordered_cat = pd.Categorical.from_codes(codes, categories, ordered = True)
ordered_cat

['foo', 'bar', 'baz', 'foo', 'foo', 'bar']
Categories (3, object): ['foo' < 'bar' < 'baz']

In [134]:
my_cats_2.as_ordered()

['foo', 'bar', 'baz', 'foo', 'foo', 'bar']
Categories (3, object): ['foo' < 'bar' < 'baz']

In [136]:
rng = np.random.default_rng(seed = 12345)
draws = rng.standard_normal(1000)
draws

array([-1.42382504e+00,  1.26372846e+00, -8.70661738e-01, -2.59173235e-01,
       -7.53433070e-02, -7.40884652e-01, -1.36779270e+00,  6.48892802e-01,
        3.61058113e-01, -1.95286306e+00,  2.34740965e+00,  9.68496906e-01,
       -7.59387180e-01,  9.02198274e-01, -4.66953173e-01, -6.06895187e-02,
        7.88844345e-01, -1.25666813e+00,  5.75857514e-01,  1.39897899e+00,
        1.32229806e+00, -2.99698515e-01,  9.02919341e-01, -1.62158273e+00,
       -1.58189261e-01,  4.49483932e-01, -1.34360107e+00, -8.16875907e-02,
        1.72473993e+00,  2.61815943e+00,  7.77361344e-01,  8.28633196e-01,
       -9.58988313e-01, -1.20938829e+00, -1.41229201e+00,  5.41546830e-01,
        7.51939396e-01, -6.58760320e-01, -1.22867499e+00,  2.57557768e-01,
        3.12902918e-01, -1.30811690e-01,  1.26998312e+00, -9.29624577e-02,
       -6.61508890e-02, -1.10821447e+00,  1.35956851e-01,  1.34707776e+00,
        6.11440210e-02,  7.09146003e-02,  4.33654537e-01,  2.77483660e-01,
        5.30252387e-01,  5.36720969e-01,  6.18350015e-01, -7.95017456e-01,
        3.00030946e-01, -1.60270159e+00,  2.66798830e-01, -1.26162378e+00,
       -7.12708062e-02,  4.74049730e-01, -4.14853761e-01,  9.77165000e-02,
       -1.64041784e+00, -8.57258824e-01,  6.88281788e-01, -1.15452958e+00,
        6.50452389e-01, -1.38835995e+00, -9.07382457e-01, -1.09542531e+00,
        7.14569494e-03,  5.34359903e-01, -1.06580785e+00, -1.81472740e-01,
        1.62195180e+00, -3.17391946e-01, -8.15814967e-01,  3.86579017e-01,
       -2.23638926e-01, -7.01690809e-01, -1.79571318e+00,  8.18325622e-01,
       -5.71032902e-01,  7.85525063e-04, -1.06364272e+00,  1.30171450e+00,
        7.47872942e-01,  9.80875909e-01, -1.10418688e-01,  4.67918531e-01,
        8.90607150e-01,  1.02300937e+00,  3.12383389e-01, -6.19046857e-02,
       -3.59479647e-01, -7.48643984e-01, -9.65478907e-01,  3.60034657e-01,
       -2.44552532e-01, -1.99585661e+00, -1.55247617e-01,  1.06383087e+00,
       -2.75171567e-01, -1.85333593e+00, -1.24341928e-01,  7.84974522e-01,
        2.01998597e-01, -4.28074443e-01,  1.84828890e+00,  1.89995289e+00,
       -9.84250348e-02,  8.13445440e-01,  3.92494389e-01,  7.81442900e-01,
        1.45327152e+00,  8.20186045e-01,  8.77053446e-02, -6.53505648e-01,
       -8.11886879e-01, -2.55381724e-02,  1.15818454e+00,  3.00520870e-01,
        5.30566461e-02,  2.57271524e-01,  3.57428624e-02,  5.47236686e-01,
       -1.12296158e+00, -1.97524767e+00, -4.25150050e-01, -1.14907382e+00,
        1.61513805e+00, -1.58476860e-01, -2.52873345e-01, -1.53815403e+00,
        2.82086033e-01, -6.23612134e-01,  1.12182226e+00,  8.41221031e-01,
       -7.75896101e-01,  4.10716440e-01, -2.72241610e+00, -6.73304799e-01,
        1.24622153e+00,  7.90208028e-01,  1.75340888e-01, -2.92946016e-02,
       -1.41951426e+00, -1.35996632e+00,  2.23411559e-01,  1.76177943e+00,
       -2.17088985e+00,  6.28488171e-01,  6.01196526e-01,  9.50757858e-01,
       -8.69246667e-01, -5.29007071e-01,  4.56840956e-02, -1.02755181e+00,
       -1.22928930e+00, -8.83358472e-01, -7.08934637e-02,  3.74053351e-01,
       -2.45937384e-02,  7.72606583e-02, -6.83913218e-01, -7.20837668e-01,
        1.12062282e+00, -5.48141603e-02, -8.24137242e-02,  9.35986501e-01,
        1.23853712e+00,  1.27279553e+00,  4.05892218e-01, -5.03252214e-02,
        2.89317539e-01,  1.79305677e-01,  1.39748056e+00,  2.92046792e-01,
        6.38405674e-01, -2.78877131e-02,  1.37105185e+00, -2.05280763e+00,
        3.80509078e-01,  7.55390669e-01, -1.15912585e+00,  2.15031011e+00,
       -1.50270219e-01, -1.61164280e-01, -1.07944248e+00,  8.77966184e-01,
        2.24467414e-01, -5.91593454e-01,  2.26262802e-01,  6.86182507e-01,
        1.21500461e+00,  2.16059441e-01, -9.64823557e-01, -5.56607805e-01,
       -2.29838764e+00, -7.32082126e-01,  7.36469100e-01,  4.65716719e-01,
       -1.07876049e-01, -3.41436294e-01,  1.58453379e+00,  2.82241206e-01,
        9.09546391e-01,  3.95071566e-01, -6.69376519e-01,  1.55536898e+00,
       -1.23813903e+00, -1.19617346e+00, -4.29149506e-01, -7.29659893e-01,
       -5.57468899e-01, -5.99953064e-01,  9.86827204e-01,  5.41946751e-02,
        3.51907443e-01, -1.58796951e+00, -8.46951349e-01,  1.08457026e+00,
       -1.20382665e+00,  1.17853089e+00, -1.03066585e+00,  2.99218328e-01,
       -8.46239971e-01,  1.96620300e-01, -8.99637825e-01, -2.56605429e-01,
        1.67254777e+00, -3.75269646e-01,  2.03679478e+00, -4.58793398e-01,
       -1.17576966e+00,  7.50524988e-02, -4.08990215e-01,  1.75653198e+00,
        8.60923069e-01,  1.18127398e+00,  6.31670171e-01,  2.47099711e+00,
        7.94302517e-01,  5.31352878e-01, -8.29398597e-01, -9.09303834e-01,
        1.84235934e-01,  9.97738175e-01,  1.11695904e+00, -9.44000541e-01,
        5.31406704e-01,  1.93345997e-01, -1.11826358e+00,  5.11845582e-01,
       -2.27056629e+00,  2.63163546e-01,  2.47131349e+00, -1.01988520e+00,
        1.87526150e-02, -1.89426422e+00, -7.55001656e-01,  7.56197740e-01,
       -1.04246201e+00, -3.42581430e-02, -3.55168299e-01, -3.78428368e-01,
        1.90648688e-01,  4.84396294e-01,  1.23026775e+00,  8.32970623e-01,
       -5.64941752e-01,  1.41469601e+00,  1.24828122e+00, -1.55894810e+00,
        6.65232592e-01,  8.25595172e-01,  9.66318833e-01,  5.47175299e-01,
       -1.29718326e+00, -2.67634333e-01, -2.07020656e+00, -1.57892554e-01,
        2.02894262e+00,  6.81570885e-01,  8.36203582e-01, -5.13488047e-01,
       -1.01573661e+00, -1.07027090e+00,  1.23912658e-01, -8.03015882e-01,
       -6.37635747e-01,  1.14449564e+00, -1.64090191e+00, -1.31400358e+00,
       -5.10352510e-01, -9.98608839e-02, -1.29506764e-01, -1.39670506e+00,
        1.93809351e-01, -1.29292728e-01,  3.54479094e-01, -1.08287264e+00,
        2.44939235e-01,  2.20820791e-01, -6.60432484e-01, -2.18535151e-01,
       -5.55999012e-01,  1.35638101e+00, -3.11960863e+00, -1.44767170e+00,
       -1.70578539e+00, -3.78119923e-01, -6.78493916e-01, -4.11245934e-01,
        7.19012644e-01, -1.63251948e+00, -8.45693631e-01, -2.23100058e-01,
       -1.20221832e+00,  3.69987683e-01,  3.29997358e-01, -7.10446611e-01,
       -1.77110716e+00,  1.60083585e+00,  4.71098065e-01,  4.23750625e-01,
        7.22604814e-02, -7.34696662e-03,  8.31075673e-01, -1.56055249e-02,
       -6.30906338e-01,  7.09501385e-01,  5.96951708e-02, -7.72475747e-01,
       -9.06239094e-01,  1.16547928e+00,  6.31047402e-01,  1.97551858e+00,
       -5.26655196e-01, -7.43540587e-01,  4.03890571e-01,  1.37940685e+00,
        5.96752401e-01,  4.33153072e-01,  1.88698807e+00, -7.43390939e-01,
       -1.24794902e+00, -7.44618316e-01, -3.16856989e-01,  3.73351314e-01,
        1.02196035e+00,  4.05609723e-01,  1.52331375e+00, -8.27508128e-01,
        1.90549546e+00, -8.12021693e-01,  1.17073624e+00, -9.37842967e-01,
        3.43267007e-01,  5.08984102e-02,  5.17559645e-01,  7.51424764e-01,
       -2.13199171e-01, -6.68236776e-02,  2.39111718e-01, -1.30500814e+00,
       -7.31236440e-01, -1.62440684e+00,  5.25050962e-03,  2.22215696e+00,
        7.41309224e-01, -8.65429707e-01, -7.07684696e-01,  9.75898764e-01,
       -4.74409383e-01, -1.60848203e+00, -1.02291555e+00, -1.05425642e+00,
       -1.02139871e+00,  6.75950820e-01,  7.07028719e-02, -1.48863945e+00,
       -5.39796993e-01, -1.13832102e+00, -1.20842052e+00, -1.50667492e+00,
        1.74716204e+00, -3.07329521e-01,  5.76230584e-01,  8.68743678e-01,
       -3.84271666e-01,  5.34919539e-01,  5.40615879e-01,  2.22456521e-01,
        2.16953213e+00,  2.83928102e-01, -2.28490514e-01,  6.46164480e-01,
        1.77796354e+00,  9.94308000e-01, -4.78299892e-01, -8.58764574e-01,
       -9.30850286e-01, -6.61899356e-01,  3.86500903e-01,  8.45988292e-01,
       -2.26994787e+00, -1.86681654e-02, -1.10501888e+00,  6.82899732e-01,
        9.14518493e-01, -7.78352115e-01, -4.49423204e-01, -9.51618630e-01,
        3.91078535e-01, -1.60996181e+00, -1.12557525e+00, -6.84623837e-01,
        1.22651896e+00,  2.40247280e+00,  1.99584190e-02, -1.23157125e+00,
        7.41864685e-02, -8.69049593e-01,  4.59819568e-01, -1.11370451e+00,
       -3.69487350e-01, -1.41055279e-02,  5.19943798e-01, -7.68884933e-02,
        1.26588858e+00,  1.24232762e-01, -1.81381491e+00,  9.24059031e-01,
       -2.91113406e-01, -6.69762242e-01,  1.50768468e+00, -9.93606188e-01,
        7.26674371e-02, -7.12974484e-01,  1.35242893e+00, -3.64017286e-01,
        2.35699478e-01, -1.39228465e+00,  1.43473399e+00, -1.06952042e+00,
        9.10459323e-01,  1.11370559e+00,  1.23231538e+00,  1.81411281e+00,
       -1.17073802e+00,  4.01982178e-01,  1.37969649e-01,  4.19915493e-01,
        1.09831954e+00,  1.09361768e-01, -8.16919212e-01, -9.72529682e-02,
        1.53923643e+00, -1.17898747e+00,  7.96842462e-02, -9.81300666e-01,
        1.10877941e+00, -1.64844862e+00, -3.41086469e-01, -1.24194966e-01,
        1.16915739e-01,  2.36121870e+00,  1.55516878e+00, -1.02985940e+00,
        2.15940445e+00, -1.19253343e+00, -1.87089050e+00, -1.49848205e+00,
        2.03450471e-01,  5.34860586e-01, -2.21108587e+00,  4.35974191e-01,
       -2.67052169e-01,  7.06389532e-01, -3.84606815e-01,  9.00081711e-01,
        5.64345130e-01, -1.17264499e+00,  1.44559200e+00,  2.12427128e-01,
        7.30048821e-01,  1.26177194e+00, -9.74758332e-01, -8.47372106e-02,
       -8.21697969e-01, -9.42372732e-01,  2.65979546e-01,  3.39791108e-01,
        1.33140349e+00,  1.38554064e+00, -2.13583034e-02, -8.37064726e-01,
        3.20068942e+00,  2.14788244e+00, -1.06664772e-01, -9.30154944e-01,
       -4.23674369e-01,  2.80961046e-01,  1.13155122e+00,  9.69383232e-01,
        4.35415205e-01, -2.47125731e-01,  1.68185205e-01, -3.10624535e-01,
        7.09335975e-02, -1.03372303e-01,  5.25325277e-01, -1.88267705e+00,
       -3.45678008e-01, -2.91309198e-01, -1.13063834e+00, -1.72724675e-01,
       -1.05354233e+00, -6.64553142e-01, -2.89681998e-01, -2.53171766e-01,
       -5.73783158e-01,  1.10347462e+00,  2.01165087e-01,  3.22351424e-01,
        2.33092758e-01, -6.68065235e-01, -8.83219013e-01,  8.39639691e-01,
       -3.53077897e-01, -1.77113747e+00, -2.19878710e+00,  2.21760184e-01,
       -7.37077207e-01, -6.75838533e-02, -5.47254160e-01, -4.07414631e-01,
       -1.72737620e-01, -1.24740736e+00, -1.87624193e-02,  9.86123587e-01,
        6.95674273e-01, -1.73962463e+00, -1.34163608e+00, -1.33282638e+00,
       -2.48068818e-01,  8.54834793e-01,  3.22984340e-01, -1.75364283e+00,
        5.48855340e-02,  8.07411591e-01, -4.49013978e-01,  1.90417969e+00,
       -6.51468305e-01,  1.17248231e+00,  2.35122688e+00, -1.27642360e+00,
       -3.23686621e-01,  5.74696204e-01,  3.21141765e+00, -1.78846554e+00,
        5.66050226e-01,  2.84796348e-01, -4.22376126e-01, -8.34852439e-01,
       -5.25916185e-01, -3.03053674e-01, -1.26985950e+00,  1.57548510e+00,
       -1.10845010e+00, -4.27519357e-01, -6.61481082e-01, -4.13253934e-01,
        9.29779267e-02, -7.57597067e-01, -2.36129912e-01,  1.72446043e+00,
        1.05620035e+00, -2.88028999e-01,  9.07177602e-01, -7.68494068e-01,
        2.25931240e-01, -1.42854248e+00, -1.14411867e+00, -8.66556389e-01,
        1.23753573e+00,  2.30691366e-01,  5.47763034e-01,  1.51652927e-01,
        3.66900043e-01,  4.19478919e-01,  7.65321189e-01,  1.61256679e-01,
       -9.16034823e-01, -7.90918993e-01,  1.21417311e+00,  1.41180344e+00,
        5.59364429e-01, -1.64489871e+00,  1.57517058e+00,  3.22935600e-01,
       -7.45220037e-02,  1.96548842e-02, -3.72683645e-01,  1.75834442e+00,
        1.68263067e+00, -1.06481789e+00, -1.89796109e-01,  3.03403443e-01,
        1.27573152e+00, -2.42960165e+00,  9.30610015e-01,  1.66783860e+00,
       -3.34090032e-01, -5.15106149e-02,  1.24325830e+00,  3.67036430e-01,
       -1.34618662e+00, -1.18188225e+00, -1.04500481e+00, -1.43236727e+00,
       -2.00886227e-02, -5.34166690e-01,  2.68754533e-02,  6.92732323e-01,
        1.77458224e+00,  2.02141113e-01, -1.88084695e+00,  1.37878553e+00,
       -1.33647093e-01,  1.15171173e+00, -4.66425062e-01,  2.88564390e-01,
       -1.51156922e-01, -4.21025412e-02,  1.26211915e+00, -6.72702969e-01,
        1.47547470e-01,  2.03816429e-01, -4.06218846e-01, -2.22197231e+00,
        3.31811656e-01, -2.86054756e+00, -1.52344944e+00, -4.77970317e-01,
        4.12657231e-01,  8.46392900e-01,  8.12101895e-01,  5.80603328e-01,
       -3.81073120e-01,  1.20099431e+00, -2.83772779e-01,  1.10710475e+00,
       -2.25610096e+00, -9.71854993e-01, -5.92905332e-01, -1.80984888e-02,
       -2.41274891e+00,  7.99226280e-01,  9.76130692e-01,  7.73092119e-01,
       -5.33216690e-01,  1.44149015e+00, -5.63981533e-01,  8.93470827e-01,
       -7.42512680e-02, -3.46069864e-02, -1.70816032e-01, -3.65517036e-02,
        1.09806562e+00,  1.42629484e+00,  1.41467983e+00,  8.94438213e-01,
        6.53670700e-01,  4.37152200e-01,  1.74635813e+00, -4.57095959e-01,
       -6.49308823e-01,  3.29631178e-02, -1.68504146e+00, -2.52598256e-01,
       -7.40313034e-02, -1.04422943e+00, -5.92776806e-01,  6.80170674e-01,
       -2.45973193e-01,  6.05624791e-02,  1.01972358e+00, -6.30050546e-01,
       -1.16037758e+00, -5.68747898e-02,  4.09270722e-01, -1.82967470e+00,
        6.41954142e-01, -3.29663996e-01, -4.29324018e-01, -8.76878553e-01,
       -1.99605506e-01,  9.50270920e-01,  5.13872750e-01,  7.97806039e-01,
       -3.78129354e-01,  1.58223187e+00,  1.26565747e+00, -2.97258104e-02,
       -2.63975939e+00,  5.11408937e-02,  2.74776943e+00, -6.41340596e-02,
       -1.03022593e+00,  1.69910136e+00, -6.23692147e-01,  4.87480901e-01,
        7.59003689e-01, -1.47967223e+00,  1.21195076e-01,  1.18862963e+00,
       -3.33439437e-01,  6.49091238e-01, -2.68320151e-02,  1.02504738e+00,
        1.84822504e+00, -1.10302841e+00, -2.90388788e-01,  3.91568101e-01,
       -6.35179488e-01, -8.30046051e-01, -3.49766369e-01, -2.73043102e-01,
       -6.57943966e-01,  3.26871488e-01,  8.06477506e-01,  7.45273260e-01,
        6.79356544e-01,  1.19250597e+00, -1.36682791e+00, -1.16610196e-01,
        1.89020240e-01,  5.25771351e-01, -1.61611005e+00,  1.88072206e+00,
       -8.90609769e-01,  2.64065068e-01,  7.37306312e-01,  1.08683733e+00,
       -6.86425763e-01, -5.41809934e-01,  3.71199796e-01,  5.87459116e-01,
        9.12199847e-01, -5.58262834e-02, -6.93849578e-01, -1.33469428e+00,
        1.74643808e+00, -1.37337178e+00,  7.01209730e-01,  2.80065839e-01,
        7.64387370e-01,  9.56512535e-01,  1.35260228e+00, -5.57675673e-02,
        4.00128333e-01, -1.95141827e+00,  4.87654583e-02, -9.04456538e-01,
       -1.50266126e-01,  1.24142710e+00,  1.10711736e-01,  1.09518667e+00,
       -1.96699537e-01,  4.04457880e-01, -4.08996512e-01, -2.54134859e+00,
       -7.09034551e-01, -2.61584450e-01,  1.62631878e-01,  8.00948081e-03,
       -1.20706299e-01,  9.54237782e-01,  6.31583051e-01, -3.91507141e-01,
        8.78542722e-01, -1.97955644e+00, -2.75772309e-01, -1.40276139e-01,
        1.31070480e+00, -5.28500651e-01, -1.46383938e+00,  1.85654973e-01,
        1.70252885e+00, -1.99544374e-01, -8.88567225e-02, -1.94608586e-01,
        6.27299579e-02,  1.31431080e+00,  1.97533222e+00,  4.83255311e-01,
       -9.18163044e-02,  1.86629965e+00,  1.12426883e-01,  7.96155755e-02,
       -3.43781159e-01, -3.01186339e-01,  2.55405106e-01, -2.72675415e-01,
        4.33152856e-01,  1.07167979e-01,  5.71301488e-01, -3.65811143e-01,
       -1.84096983e-01,  2.59634677e-01,  8.44739669e-02,  1.16225041e-01,
        1.18618327e+00, -1.05588866e+00, -1.92531911e+00,  7.41063995e-01,
       -2.25619867e-01,  1.36557115e+00, -6.91680767e-02, -1.15299609e+00,
        2.20967326e+00,  4.16474443e-01, -4.36370065e-01, -7.36003886e-01,
        5.77436642e-01, -6.61492763e-01,  4.04745377e-01,  1.17892344e+00,
       -1.37460854e+00, -3.42269285e-01,  4.93190798e-01,  1.67419420e+00,
        9.43233691e-01, -4.41555599e-01,  1.47481586e+00, -3.45749659e-01,
       -1.50040126e-01,  3.89896938e-01, -1.08308193e+00,  3.08547984e+00,
        1.20884340e+00,  2.30186339e-01, -5.57802141e-01, -1.14851471e+00,
        3.81971017e-01,  7.04365602e-01, -3.88899963e-01, -1.85506898e-01,
        5.66330561e-01, -5.14316746e-02, -1.84623690e+00,  6.74638603e-01,
        2.52036725e-01,  7.38055640e-01, -7.47455035e-01, -2.11733639e+00,
       -1.24066567e+00,  3.05211001e-01,  2.08559027e+00,  2.35953985e+00,
        3.09501519e-01, -1.45127282e+00, -3.30059784e-01,  4.52826884e-01,
        4.42335688e-01,  1.00453644e-01,  1.34452292e+00, -8.93585852e-01,
       -2.16067912e+00, -8.72209569e-01, -1.15675951e+00,  2.23833940e+00,
       -1.81078344e-01, -1.42330841e+00,  6.21797411e-01,  1.01150219e+00,
        5.80898468e-02,  1.97413065e-01,  1.02838433e+00,  5.19340217e-01,
       -6.95040014e-01,  5.93706415e-01,  9.33222659e-01,  3.46441675e-01,
        8.77310301e-01,  5.88943854e-01, -2.32237743e-01, -1.42786369e-01,
        6.17561542e-01, -5.49857188e-01,  1.15527732e+00,  1.22211314e+00,
       -2.02892326e+00, -6.67985788e-02, -7.47957405e-01, -6.31399197e-01,
        1.47630647e-01, -1.66716028e-01,  5.67283300e-01,  3.23970679e-01,
        3.72784476e-01, -7.80923775e-01, -3.46318386e-01,  1.46062736e+00,
       -2.47755133e+00,  1.71945608e+00, -5.59273509e-01,  1.18097398e+00,
       -2.59346818e+00, -4.17242207e-01,  8.49845257e-01,  1.51235852e-01,
        1.01700015e+00, -8.73684243e-01, -5.58382387e-01, -6.52810234e-01,
        5.08683548e-01,  4.63572064e-01, -1.21482075e-01, -2.62915619e-01,
       -2.90783934e-01,  8.81631845e-02, -9.47190487e-01, -5.57949240e-02,
       -1.42628014e-01, -5.38803680e-01, -5.68810617e-01,  1.47837068e+00,
       -6.13257840e-01,  4.13189600e-01,  1.36901951e+00,  7.41449461e-01,
        2.12223314e-02,  1.01479931e+00, -1.42454369e+00, -1.22979084e+00,
       -3.95445015e-01, -2.19221836e-01, -9.46068703e-02,  1.88075025e+00,
        1.68899606e+00, -3.71186734e-02,  2.56070265e-01, -9.06325704e-01,
        3.19810330e-01, -1.34149193e+00,  1.40031595e+00, -5.18227724e-01,
        5.58352650e-01, -1.30547512e+00,  1.39204144e+00,  6.12108552e-01,
        1.96032218e+00,  6.88082154e-02, -1.61927444e+00, -7.83655538e-01,
       -1.25498393e+00,  1.57890107e+00, -6.24035140e-01, -7.52088547e-01,
        5.96104190e-01,  2.66923552e-01,  4.93312599e-01, -5.01478344e-01,
       -1.99770485e+00, -1.35874699e+00, -2.19554107e+00,  1.28115129e+00,
        9.10711662e-01, -3.73667225e-01,  6.24494021e-01,  6.74017103e-01,
        6.37016040e-01,  5.32955071e-01,  8.84989640e-01,  8.31998074e-02,
       -2.21975447e+00, -2.76714798e+00,  1.26613253e+00,  5.98509237e-01,
       -2.51309108e+00,  1.75597388e-01, -8.77888581e-01, -5.47070340e-01,
       -2.60357335e+00,  7.73042027e-01, -8.33765144e-02,  8.18447261e-01,
        1.09093020e+00,  1.29142947e+00,  1.65147111e+00,  2.93889928e-01,
        2.19100411e-01, -6.37850133e-01,  5.30894232e-01, -2.37211561e-01])

In [137]:
bins = pd.qcut(draws, 4)
bins

[(-3.121, -0.675], (0.687, 3.211], (-3.121, -0.675], (-0.675, 0.0134], (-0.675, 0.0134], ..., (0.0134, 0.687], (0.0134, 0.687], (-0.675, 0.0134], (0.0134, 0.687], (-0.675, 0.0134]]
Length: 1000
Categories (4, interval[float64, right]): [(-3.121, -0.675] < (-0.675, 0.0134] < (0.0134, 0.687] < (0.687, 3.211]]

In [139]:
bins = pd.qcut(draws, 4, labels=['Q1', 'Q2', 'Q3', 'Q4'])
bins = pd.Series(bins, name='quartile')
results = (pd.Series(draws).groupby(bins).agg(['count', 'min', 'max']).reset_index())
results

C:\Users\bldyr\AppData\Local\Temp\ipykernel_21848\1164697889.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  results = (pd.Series(draws).groupby(bins).agg(['count', 'min', 'max']).reset_index())

  quartile  count       min       max
0       Q1    250 -3.119609 -0.678494
1       Q2    250 -0.673305  0.008009
2       Q3    250  0.018753  0.686183
3       Q4    250  0.688282  3.211418

In [141]:
N = 10_000_000
labels = pd.Series(['foo', 'bar', 'baz', 'qux'] * (N // 4))
categories = labels.astype('category')
categories

0          foo
1          bar
2          baz
3          qux
4          foo
          ...
9999995    qux
9999996    foo
9999997    bar
9999998    baz
9999999    qux
Length: 10000000, dtype: category
Categories (4, object): ['bar', 'baz', 'foo', 'qux']

In [142]:
print(labels.memory_usage(deep = True), categories.memory_usage(deep = True))

600000128 10000540

In [143]:
%time _ = labels.astype('category')

Wall time: 923 ms

## カテゴリ変数の処理

### 独立変数のエンコーディング

In [ ]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [0])], remainder='passthrough')
X = np.array(ct.fit_transform(X))

In [17]:
print(X)

[[1.0 0.0 0.0 44.0 72000.0]
 [0.0 0.0 1.0 27.0 48000.0]
 [0.0 1.0 0.0 30.0 54000.0]
 [0.0 0.0 1.0 38.0 61000.0]
 [0.0 1.0 0.0 40.0 nan]
 [1.0 0.0 0.0 35.0 58000.0]
 [0.0 0.0 1.0 nan 52000.0]
 [1.0 0.0 0.0 48.0 79000.0]
 [0.0 1.0 0.0 50.0 83000.0]
 [1.0 0.0 0.0 37.0 67000.0]]

### 従属変数のエンコーディング

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
y = le.fit_transform(y)

In [ ]:
print(y)

### 訓練用データセットとテストデータセットへの分割

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 1)

In [ ]:
print(X_train)

In [ ]:
print(X_test)

In [ ]:
print(y_train)

In [ ]:
print(y_test)

## フィーチャースケーリング

In [ ]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train[:, 3:] = sc.fit_transform(X_train[:, 3:])
X_test[:, 3:] = sc.transform(X_test[:, 3:])

In [ ]:
print(X_train)

In [ ]:
print(X_test)